<footer id="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <div class="footer-info">
                    <div class="section-title">
                        <h2>Headquarter</h2>
                    </div>
                    <address>
                        <p>Akwa - Douala,<br> Cameroon</p>
                    </address>

                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-youtube"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>

                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="footer-info">
                    <div class="section-title">
                        <h2>Contact Info</h2>
                    </div>
                    <address>
                        <p>+237 6 52 471 641</p>
                        <p><a href="mailto:info@almalcloud.com">info@almalcloud.com</a></p>
                    </address>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="footer-info newsletter-form">
                    <div class="section-title">
                        <h2>Quick Links</h2>
                    </div>
                    <div>
                        <div class="form-group">
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Refund Policy</a></li>
                            </ul>
                        </div>
                        <div class="copyright-text">
                            <p>Copyright &copy; @DateTime.Now.Year ALMAL Cloud LLC</p>

                            <p>Powered by <a href="https://www.civilsalt.somee.com" target="_blank">CivilSalt</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
