@model ALMAL_Freelancer.Models.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/pvExternal.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <section id="feature">
        <div class="container">
            <div class="row text-center">

                <div class="col-md-4 col-sm-12"></div>
                <div class="col-md-4 col-sm-12">
                    <div class="feature-thumb">
                        <div class="section-title">
                            <span><i class="fa fa-key"></i></span>
                            <h2>Forgot Password</h2>
                        </div>
                        <div class="form-group">
                            <form action="#" method="get">
                                <input type="email" class="form-control" placeholder="Enter your email" name="email" id="email" required="">
                                <br />
                                <input type="password" class="form-control" placeholder="Enter new password" name="password" id="password" required="">
                                <br />
                                <input type="password" class="form-control" placeholder="Retype new password" name="newpassword" id="newpassword" required="">
                                <br />
                                <input type="submit" class="btn btn-success" name="submit" id="form-submit" value="Submit">
                            </form>

                            <br />
                            <a href="@Url.Action("Login","Account")" class="btn">Sign in</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
