<section id="about">
    <div class="container">
        <div class="row">

            <div class="section-title">
                <h2>Start your journey to a better life with freelancing</h2>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="about-info">

                    <figure>
                        <span><i class="fa fa-user"></i></span>
                        <figcaption>
                            <h3>Freelancing</h3>
                            <p>
                                Get acquinted with online job offers.
                                Working is done remotely or on sight.
                            </p>
                        </figcaption>
                    </figure>

                    <figure>
                        <span><i class="fa fa-users"></i></span>
                        <figcaption>
                            <h3>Network Connection</h3>
                            <p>
                                Share similar interests with freelancers.
                                Know more people across a wide variety of localizations.
                            </p>
                        </figcaption>
                    </figure>

                    <figure>
                        <span><i class="fa fa-bar-chart-o"></i></span>
                        <figcaption>
                            <h3>Progress Analytics</h3>
                            <p>
                                Track your projects and their performances.
                                Understand the dynamics of accomplishing remarkable offers.
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="about-info">
                    <figure>
                        <span><i class="fa fa-money"></i></span>
                        <figcaption>
                            <h3>Earn Income</h3>
                            <p>
                                With a subscription fee, earn more.
                                Get paid for all the projects you accomplish.
                            </p>
                        </figcaption>
                    </figure>

                    <figure>
                        <span><i class="fa fa-certificate"></i></span>
                        <figcaption>
                            <h3>Local & International Interactions</h3>
                            <p>
                                Know more people, know more places.
                                Get local and foreign interactions and create a work bond.
                            </p>
                        </figcaption>
                    </figure>

                    <figure>
                        <span><i class="fa fa-bar-more">?</i></span>
                        <figcaption>
                            <h3>More features</h3>
                            <p>
                                More features are being updated to suit your needs...
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>

        </div>
    </div>
</section>